<html>
    <head>
        <title><%= title %></title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <script src="views/app/mailur_app.js"></script>
    </head>
    <body ng-app="mailur">

        <!-- Main page view -->
        <ng-view></ng-view><hr />

        <a href="#/">Home</a>
        <a href="#chatroom">Chatroom</a>

    </body>
</html>
