* {
    font-family: arial, sans-serif;
}

body, html {
    padding: 10px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: purple;
}

.main_menu {
    height: 70px;
    width: 100%;
}

td {
    padding: 10px;
}

form {
    margin: 0px;
}

.ng_viewer {
    width: 70%;
    height: auto;
    margin: 0px 15% 0px 15%;
}

.chatroom_table {
    width: 100%;
}

.message_window {
    height: 200px;
    overflow-y: auto;
}

legend {
    font-size: 0.8em;
}
