* {
    font-family: arial, sans-serif;
}

body, html {
    padding: 10px;
    margin: 0px;
    min-width:
}

a {
    text-decoration: none;
    color: purple;
}

.main_menu {
    height: 70px;
    width: 100%;
}

td {
    padding: 10px;
}

form {
    margin: 0px;
}

.dec_btn {
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
    color: purple;
    font-size: 0.7em;
}

.message_container {
    max-width: 100%;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.message_container p {
    margin: 0px;
}

.dec_btn:hover {
    cursor: pointer;
}

.chatroom_table {
    width: 100%;
}

.connected_users_container {
    width: 15%;
    max-width: 15%;
    min-width: 135px;
    height: auto;
}

.connected_users {
    overflow-y: auto;
    word-break: break-all;
    height: 200px;
    max-height: 200px;
    font-size: 0.8em;
}

.message_window_container {
    height: auto;
    width: 55%;
    max-width: 55%;
    min-width: 550px;
}

.message_window {
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
    word-break: break-all;
}

.enigma_settings_container {
    height: auto;
    width: 30%;
    max-width: 30%;
    min-width: 300px;
}

.enigma_settings {
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
}

legend {
    font-size: 0.8em;
}
