<table class="chatroom_table">
    <tr>
        <td colspan="2">
            <p>Status: {{ connection_status ? 'Connected' : 'Not connected' }}</p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <form ng-submit="send_message(message)">
                <fieldset ng-disabled="!connection_status">
                    <legend>Message area (requires connection)</legend>
                    <input type="text" ng-model="message.nick" placeholder="Nickname">
                    <input type="text" ng-model="message.body" placeholder="Type a message...">
                    <button type="submit">Send</button>
                </fieldset>
            </form>
        </td>
    </tr>
    <tr colspan="2">
        <td width="70%">
            <fieldset class="message_window">
                <legend>Chatroom</legend>
                <div ng-repeat="message in messages | orderBy:'-time'">
                    <b>{{ message.nick }}:</b> {{ message.body }} <small> ({{ message.dec_text }})</small>
                </div>
            </fieldset>
        </td>
        <td width="30%" align="center">
            <fieldset>
                <legend>Enigma Settings</legend>
                <select name="rotor_1" ng-model="rotor_settings.rotor_1">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
                <select name="rotor_2" ng-model="rotor_settings.rotor_2">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
                <select name="rotor_3" ng-model="rotor_settings.rotor_3">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
                <button type="submit" ng-click="update_rotors(rotor_settings)">Send Settings</button>
            </fieldset>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="top">
            <fieldset>
                <legend>Options</legend>
                <button ng-click="delete_messages()" title="This only deletes the messages on your machine!">Delete Messages</button>
            </fieldset>
        </td>
    </tr>
</table>
